:root {
  background-color: #000;
  --color-text: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #654848;
}

text {
  color: #fff;
  font-size: 20px;
}



